# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*


# Build directories
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# IDE specific files
.vscode/
.idea/
.DS_Store
